.home-container{
height:100vh;
background:linear-gradient(120deg,#021B79,#0575E6);
color:white;
font-family:Arial;
position:relative;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:25px;
align-items:center;
list-style:none;
}

.login-btn{
padding:6px 14px;
border:1px solid white;
background:transparent;
color:white;
border-radius:6px;
cursor:pointer;
}

.hero{
text-align:center;
margin-top:120px;
}

.hero h1{
font-size:60px;
letter-spacing:4px;
}

.hero p{
width:450px;
margin:auto;
margin-top:10px;
opacity:0.9;
}

.learn-btn{
margin-top:20px;
padding:10px 20px;
border:none;
border-radius:20px;
cursor:pointer;
background:white;
color:#333;
}